@let employeePage = employeePage$ | async;

<div class="grid grid-cols-4 gap-4 p-4">
  <div class="col-span-1">
    <app-criteria />
  </div>

  <div class="col-span-3">
    @if (employeePage) {
      <div
        class="rounded-box border-base-content/20 bg-base overflow-x-auto border">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Position title</th>
              <th>Agency name</th>
            </tr>
          </thead>
          <tbody>
            @for (employee of employeePage.content; track employee.id) {
              <tr>
                <th>{{ employee.id }}</th>
                <td>{{ employee.name }}</td>
                <td>{{ employee.positionTitle }}</td>
                <td>{{ employee.agencyName }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <app-pagination [page]="employeePage.page" />
    } @else {
      loading...
    }
  </div>
</div>
