<form class="flex flex-col gap-4" [formGroup]="criteriaForm">
  <label class="input w-full min-w-min">
    Name:
    <input [formControl]="criteriaForm.controls.name" type="text" />
  </label>
  <label class="input w-full min-w-min">
    Position title:
    <input [formControl]="criteriaForm.controls.positionTitle" type="text" />
  </label>
  <label class="input w-full min-w-min">
    Agency name:
    <input [formControl]="criteriaForm.controls.agencyName" type="text" />
  </label>

  <div class="flex gap-x-3">
    <button class="btn flex-1" (click)="clear()">Clear</button>
    <button class="btn btn-primary flex-1" (click)="search()">Search</button>
  </div>
</form>
