<form class="flex flex-col gap-4" [formGroup]="criteriaForm">
  <label class="input w-full min-w-min">
    <input
      [formControl]="criteriaForm.controls.name"
      placeholder="Name"
      type="text" />
  </label>
  <label class="input w-full min-w-min">
    <input
      [formControl]="criteriaForm.controls.positionTitle"
      placeholder="Position title"
      type="text" />
  </label>
  <label class="input border-base-400 w-full min-w-min">
    <input
      [formControl]="criteriaForm.controls.agencyName"
      placeholder="Agency name"
      type="text" />
  </label>

  <div class="flex gap-x-3">
    <button class="btn flex-1" (click)="clear()">Clear</button>
    <button class="btn btn-primary flex-1" (click)="search()">Search</button>
  </div>
</form>
