<div class="card bg-base-100 card-md w-96 shadow-sm">
  <div class="card-body">
    <h2 class="card-title mb-4 text-2xl">Sign up</h2>
    <form class="flex flex-col gap-4" [formGroup]="registerForm">
      <div>
        <label
          class="input"
          [class.input-error]="registerForm.controls.email.invalid">
          <ng-icon class="pr-1" name="heroAtSymbol" />
          <input
            [formControl]="registerForm.controls.email"
            type="email"
            placeholder="mail@site.com" />
        </label>
        @if (registerForm.controls.email.hasError('email')) {
          <p class="validator-hint text-error">Enter valid email address.</p>
        }
        @if (registerForm.controls.email.hasError('required')) {
          <p class="validator-hint text-error">Email is required.</p>
        }
      </div>

      <div>
        <label
          class="input"
          [class.input-error]="registerForm.controls.password.invalid">
          <ng-icon class="pr-1" name="heroKey" />
          <input
            [formControl]="registerForm.controls.password"
            type="password"
            placeholder="Password" />
        </label>
        @if (registerForm.controls.password.hasError('required')) {
          <p class="validator-hint text-error">Password is required.</p>
        }
        @if (registerForm.controls.password.hasError('minlength')) {
          <p class="validator-hint text-error">
            Minimal length is 8 characters.
          </p>
        }
        @if (registerForm.controls.password.hasError('missingUpperCase')) {
          <p class="validator-hint text-error">
            At least one uppercase letter is required.
          </p>
        }
        @if (registerForm.controls.password.hasError('missingLowerCase')) {
          <p class="validator-hint text-error">
            At least one lowercase letter is required.
          </p>
        }
        @if (registerForm.controls.password.hasError('missingNumber')) {
          <p class="validator-hint text-error">
            At least one number is required.
          </p>
        }
      </div>

      <div>
        <label
          class="input"
          [class.input-error]="registerForm.controls.repeatPassword.invalid">
          <ng-icon class="pr-1" name="heroKey" />
          <input
            [formControl]="registerForm.controls.repeatPassword"
            type="password"
            placeholder="Repeat password" />
        </label>
        @if (registerForm.controls.repeatPassword.hasError('required')) {
          <p class="validator-hint text-error">
            Repetition of password is required.
          </p>
        }
        @if (registerForm.hasError('passwordMismatch')) {
          <p class="validator-hint text-error">
            Password and repeat password differ.
          </p>
        }
      </div>
    </form>

    <div class="card-actions justify-end">
      <button
        class="btn btn-primary"
        [disabled]="registerForm.invalid"
        (click)="register()">
        Sign up
      </button>
    </div>
  </div>
</div>
