<div class="flex h-screen items-center justify-center">
  <div class="card bg-base-100 card-md w-96 shadow-sm">
    <div class="card-body">
      <h2 class="card-title mb-4 text-2xl">Register</h2>
      <form class="flex flex-col gap-4" [formGroup]="registerForm">
        <div>
          @let emailControl = registerForm.controls.email;
          <label
            class="input"
            [class.input-error]="emailControl.invalid && emailControl.touched">
            <ng-icon class="pr-1" name="heroAtSymbol" />
            <input
              [formControl]="emailControl"
              type="email"
              placeholder="mail@site.com" />
            @if (emailControl.pending) {
              <span class="loading loading-spinner loading-xs"></span>
            }
          </label>
          <app-from-error
            [control]="emailControl"
            errorCode="email"
            message="Enter valid email address." />
          <app-from-error
            [control]="emailControl"
            errorCode="required"
            message="Email is required." />
          <app-from-error
            [control]="emailControl"
            errorCode="emailTaken"
            message="Email is taken." />
        </div>

        <div>
          @let passwordControl = registerForm.controls.password;
          <label
            class="input"
            [class.input-error]="
              passwordControl.invalid && passwordControl.touched
            ">
            <ng-icon class="pr-1" name="heroKey" />
            <input
              [formControl]="passwordControl"
              type="password"
              placeholder="Password" />
          </label>
          <app-from-error
            [control]="passwordControl"
            errorCode="required"
            message="Password is required." />
          <app-from-error
            [control]="passwordControl"
            errorCode="minlength"
            message="Minimal length is 8 characters." />
          <app-from-error
            [control]="passwordControl"
            errorCode="missingUpperCase"
            message="At least one uppercase letter is required." />
          <app-from-error
            [control]="passwordControl"
            errorCode="missingLowerCase"
            message="At least one lowercase letter is required." />
          <app-from-error
            [control]="passwordControl"
            errorCode="missingNumber"
            message="At least one number is required." />
        </div>

        <div>
          @let repeatPasswordControl = registerForm.controls.repeatPassword;
          <label
            class="input"
            [class.input-error]="
              repeatPasswordControl.invalid && repeatPasswordControl.touched
            ">
            <ng-icon-stack class="pr-1" size="1.2em">
              <ng-icon size="0.9em" name="heroKey"></ng-icon>
              <ng-icon
                class="pr-4.5 pb-6"
                size="0.7em"
                name="heroArrowUturnRight" />
            </ng-icon-stack>
            <input
              [formControl]="repeatPasswordControl"
              type="password"
              placeholder="Repeat password" />
          </label>
          <app-from-error
            [control]="repeatPasswordControl"
            errorCode="required"
            message="Repetition of password is required." />
          <app-from-error
            [control]="registerForm"
            errorCode="passwordMismatch"
            message="Password and repeat password differ." />
        </div>
      </form>

      <div class="card-actions justify-end">
        <button
          class="btn btn-primary"
          [disabled]="!registerForm.valid || isLoading()"
          (click)="register()">
          Sign up
        </button>
      </div>

      <a class="link mt-4 text-center" [routerLink]="'/login'">
        Do have have an account? Log in
      </a>
    </div>
  </div>
</div>
